@model List<Cinema.WEB.Models.MovieModelMainPage>

@{
    ViewBag.Title = "Banners";
}


  <!-- Slider -->
<div class="bannercontainer rev_slider_wrapper">

    <!-- the ID here will be used in the JavaScript below to initialize the slider -->
    <div id="rev_slider_1" class="banner rev_slider" style="display:none">

        <!-- BEGIN SLIDES LIST -->
        <ul>

            @foreach (var item in Model)
            {
                <li data-transition="fade" class="slide" data-title='@item.Title'>

                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    @*<img class="rev-slidebg" alt='' src="~/Images/slides/banner-1518607607.jpg">*@
                   
                    <img class="rev-slidebg" alt='' src="@item.BannerUrl">
                    <div class="tp-caption slide__name margin-slider"
                         data-x="20"
                         data-y="80"
                         data-frames='[{
                            "delay":300,
                            "split":"chars",
                            "splitdelay":0.1,
                            "speed":700,
                            "frame":"0",
                            "from":"x:[-100%];opacity:0;",
                            "mask":"x:0px;y:0px;s:inherit;e:inherit;",
                            "to":"o:1;",
                            "ease":"Power4.easeInOut"
                            },{
                            "delay":"wait",
                            "speed":300,
                            "frame":"999",
                            "to":"opacity:0;",
                            "ease":"Power3.easeInOut"
                            }]'>
                        @item.Title
                    </div>

                    <div class="tp-caption slide__date margin-slider"
                         data-x="20"
                         data-y="220"
                         data-frames='[{
                            "delay":1700,
                            "speed":500,
                            "frame":"0",
                            "from":"y:100px;opacity:0;",
                            "to":"o:1;",
                            "ease":"Power3.easeInOut"
                            },{
                            "delay":"wait",
                            "speed":300,
                            "frame":"999",
                            "to":"opacity:0;",
                            "ease":"Power3.easeInOut"
                            }]'>                      
                        @item.Country; @item.Premiere.ToLongDateString();  @item.Duration мин.; @item.AgeLimit+
                    </div>
                    <div class="tp-caption slide__date margin-slider"
                         data-x="20"
                         data-y="250"
                         data-frames='[{
                            "delay":1700,
                            "speed":500,
                            "frame":"0",
                            "from":"y:100px;opacity:0;",
                            "to":"o:1;",
                            "ease":"Power3.easeInOut"
                            },{
                            "delay":"wait",
                            "speed":300,
                            "frame":"999",
                            "to":"opacity:0;",
                            "ease":"Power3.easeInOut"
                            }]'>
                       @item.Genre
                    </div>

                    <div class="tp-caption margin-slider"
                         data-x="20"
                         data-y="324"
                         data-frames='[{
                            "delay":2600,
                            "speed":400,
                            "frame":"0",
                            "from":"y:100px;opacity:0;",
                            "to":"o:1;",
                            "ease":"Power3.easeInOut"
                            },{
                            "delay":"wait",
                            "speed":300,
                            "frame":"999",
                            "to":"opacity:0;",
                            "ease":"Power3.easeInOut"
                            }]'>
                        <a href="@Url.Action("MoviePage", "Movie", new { id = item.Id })" class="btn btn-md btn--danger btn--wide slider--btn">Перейти</a>
                        <a href="@item.TrailerUrl" target="_blank" class="btn btn-md btn--default btn--wide slider--btn" style="margin-left:10px;">
                            Смотреть Трейлер
                        </a>
                    </div>

                </li>

            }

        </ul><!-- END SLIDES LIST -->

    </div><!-- END SLIDER CONTAINER -->

</div><!-- END SLIDER CONTAINER WRAPPER -->
<!--end slider -->