@model List<Cinema.WEB.Models.MovieModelMainPage>

@{
    ViewBag.Title = "BestMovies";
}

 <!--Best-->
<div class="movie-best">
    <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Премьеры</div>

    <div class="col-sm-12 change--col">
       
        <!--item-->
        <div class="movie-beta__item ">
            <img class="img_size_for_best" alt='' src="@Model[0].PosterURL">           
            <ul class="movie-beta__info">
                <li><span class="best-voted">@Model[0].Title</span></li>
                <li>
                    <p class="movie__time">@Model[0].Duration мин</p>
                    <p>
                       @Model[0].Genre
                    </p>
                </li>
                <li class="last-block">
                    <a href="@Url.Action("MoviePage", "Movie", new { id = Model[0].Id })" class="slide__link">перейти</a>
                </li>
            </ul>
        </div>

        <!--item second--->
        <div class="movie-beta__item  second--item">
            <img class="img_size_for_best" alt='' src="@Model[1].PosterURL">
            @*<span class="best-rate">@Model[1].Rating</span>*@
            <ul class="movie-beta__info">
                <li><span class="best-voted">@Model[1].Title</span></li>
                <li>
                    <p class="movie__time">@Model[1].Duration мин</p>
                    <p>
                        @Model[1].Genre
                    </p>
                </li>
                <li class="last-block">
                    <a href="@Url.Action("MoviePage", "Movie", new { id = Model[1].Id })" class="slide__link">перейти</a>
                </li>
            </ul>
        </div>



        <!--item third--->
        <div class="movie-beta__item third--item">
            <img class="img_size_for_best" alt='' src="@Model[2].PosterURL">
            @*<span class="best-rate">@Model[2].Rating</span>*@
            <ul class="movie-beta__info">
                <li><span class="best-voted">@Model[2].Title</span></li>
                <li>
                    <p class="movie__time">@Model[2].Duration мин</p>
                    <p>
                        @Model[2].Genre
                    </p>
                </li>
                <li class="last-block">
                    <a href="@Url.Action("MoviePage", "Movie", new { id = Model[2].Id })" class="slide__link">перейти</a>
                </li>
            </ul>
        </div>



        <!--item forth--->
        <div class="movie-beta__item hidden-xs">
            <img class="img_size_for_best" alt='' src="@Model[3].PosterURL">
            @*<span class="best-rate">@Model[3].Rating</span>*@
            <ul class="movie-beta__info">
                <li><span class="best-voted">@Model[3].Title</span></li>
                <li>
                    <p class="movie__time">@Model[3].Duration мин</p>
                    <p>
                        @Model[3].Genre
                    </p>
                </li>
                <li class="last-block">
                    <a href="@Url.Action("MoviePage", "Movie", new { id = Model[3].Id })" class="slide__link">перейти</a>
                </li>
            </ul>
        </div>



        <!--item fifth--->
        <div class="movie-beta__item hidden-xs hidden-sm">
            <img class="img_size_for_best" alt='' src="@Model[4].PosterURL">
            @*<span class="best-rate">@Model[4].Rating</span>*@
            <ul class="movie-beta__info">
                <li><span class="best-voted">@Model[4].Title</span></li>
                <li>
                    <p class="movie__time">@Model[4].Duration мин</p>
                    <p>
                        @Model[4].Genre
                    </p>
                </li>
                <li class="last-block">
                    <a href="@Url.Action("MoviePage", "Movie", new { id = Model[4].Id })" class="slide__link">перейти</a>
                </li>
            </ul>
        </div>

        <!--item sex--->
        <div class="movie-beta__item hidden-xs hidden-sm">
            <img class="img_size_for_best" alt='' src="@Model[5].PosterURL">
            @*<span class="best-rate">@Model[5].Rating</span>*@
            <ul class="movie-beta__info">
                <li><span class="best-voted">@Model[5].Title</span></li>
                <li>
                    <p class="movie__time">@Model[5].Duration мин</p>
                    <p>
                        @Model[5].Genre
                    </p>
                </li>
                <li class="last-block">
                    <a href="@Url.Action("MoviePage", "Movie", new { id = Model[5].Id })" class="slide__link">перейти</a>
                </li>
            </ul>
        </div>


    </div>

    
    <div class="col-sm-10 col-sm-offset-1 movie-best__check">проверить все фильмы, которые сейчас показывают</div>
</div>


