@model Cinema.WEB.Models.MovieModelFull

@{
    ViewBag.Title = "MoviePage";
}

<div id="main_page">
    
    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="movie">
                <h2 class="page-heading">@Model.Title</h2>

                <div class="movie__info">
                    <div class="col-sm-4 col-md-3 movie-mobile">
                        <div class="movie__images">                          
                            <img alt='' src="@Model.PosterURL">
                        </div>
                        
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <p class="movie__time">169 min</p>
                        <p class="movie__option">
                            <strong>Страна: </strong>
                            @foreach (var country in Model.Countries)
                            {
                                if (country == Model.Countries.Last() || Model.Countries.Count == 1)
                                {
                                    <span>@country</span>
                                }
                                else
                                {
                                    <span>@country,</span>
                                }
                            }
                        </p>
                        <p class="movie__option"><strong>Год: </strong><span>@Model.Year</span></p>
                        <p class="movie__option">
                            <strong>Жанр: </strong>
                            @foreach (var genre in Model.Genres)
                            {
                                if (genre == Model.Genres.Last() || Model.Genres.Count == 1)
                                {
                                    <span>@genre</span>
                                }
                                else
                                {
                                    <span>@genre,</span>
                                }
                            }
                        </p>
                        <p class="movie__option"><strong>Премьера: </strong>@Model.Premiere.ToLongDateString()</p>
                        <p class="movie__option"><strong>Режисер: </strong>@Model.Director</p>
                        <p class="movie__option">
                            <strong>Актеры: </strong>
                            @foreach (var actor in Model.Actors)
                            {
                                if (actor == Model.Actors.Last() || Model.Actors.Count == 1)
                                {
                                    <span>@actor</span>
                                }
                                else
                                {
                                    <span>@actor,</span>
                                }
                            }
                        </p>
                        <p class="movie__option"><strong>Возрастная категория: </strong>@Model.AgeLimit</p>

                        <div class="trailer_btn">
                            <a href="@Model.TrailerUrl" target="_blank" class="btn btn-md btn--default btn--wide slider--btn" >
                                Смотреть Трейлер
                            </a>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">Описание</h2>
                <p class="movie__describe">@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</p>

                @if (Model.ImagesUrls.Count > 0)
                {
                    <h2 class="page-heading">Кадры из фильма</h2>

                    <div class="movie__media">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                @foreach (var item in Model.ImagesUrls)
                                {
                                    <div class="swiper-slide media-photo">
                                        <a href='@item' class="movie__media-item">
                                            <img alt='' src="@item">
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                }
              



                <h2 class="page-heading">Сеансы</h2>
                <div class="choose-container">
                    
                    <div class="datepicker">
                        <span class="datepicker__marker"><i class="fa fa-calendar"></i>Дата</span>
                        <input type="text" id="datepicker" value='@DateTime.Now.ToShortDateString()' class="datepicker__input">
                    </div>                  

                    <div class="clearfix"></div>

                    <div class="time-select"></div>
                    
                </div>
            </div>
        </div>
    </section>
</div>
    
<script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".header-wrapper").css("position", "relative");

        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Пред',
            nextText: 'След',
            currentText: 'Сегодня',
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
            dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
            dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            weekHeader: 'Нед',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);  

        //load seances default
        var dateStr = $("#datepicker").val();     
        var url = '@Url.Action("ByDate", new { dateStr= "__newDateStr__", movieId = Model.Id })'
        $(".time-select").load(url.replace("__newDateStr__", dateStr));


        //event of datepicker
        $('#datepicker').on('change', function () {
            var dateStr = $("#datepicker").val();          
            var url = '@Url.Action("ByDate", new { dateStr= "__newDateStr__", movieId = Model.Id })'
            $(".time-select").load(url.replace("__newDateStr__", dateStr));
        });

    });

    $(document).ready(function () {
        init_MoviePage();
        init_MoviePageFull();
    });


</script>

