@model Cinema.WEB.Models.BookDataModel
@{
    ViewBag.Title = "Hall";
}

<style>

    .sits-price--vip:before {
        background-color: #00acb48f;
    }
    .sits .sits__checked{
        width: 60px;
    }

</style>

<div id="hall_page">
    <div class="place-form-area">
        <section class="container">
            <div class="order-container">
                <div class="movie__info_order">                    
                    <div class="col-sm-4 col-md-3 movie-mobile poster_purchase">
                        <img src="@Model.MovieBookModel.PosterUrl" style="width: 60%; " />
                    </div>
                    <div class="col-sm-8 col-md-9 info_jay">
                        <h2>@Model.MovieBookModel.Title (@Model.Technology)</h2>
                        <p>
                            <b>Кинотеатр</b> 
                            <br /> @Model.TheaterBookModel.Name ( @Model.TheaterBookModel.Address) Зал: @Model.HallName
                        <p>
                        <p>
                            <b>Сеанс </b>
                            <br /> @Model.DateSeance.ToShortDateString(), @Model.TimeSeanceModel.TimeBegin.ToShortTimeString()
                        <p>
                    </div>                                       
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="prices_list">
                

            </div>

            <div class="choose-sits">
                <div class="choose-sits__info choose-sits__info--first">
                    <ul>
                        <li class="sits-price marker--none"><strong>Цена</strong></li>

                        @foreach (var item in Model.Prices)
                        {
                            <li class="sits-price sits-price--@item.Tariff">@item.Money UAH</li>
                        }
                    </ul>
                </div>
                <div class="choose-sits__info">
                    <ul>
                        <li class="sits-state sits-state--not">Недоступные места</li>
                        <li class="sits-state sits-state--your">Выбранные вами</li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                    <div class="sits-area">
                        <div class="sits-anchor">Экран</div>
                        <div class="sits">
                            <aside class="sits__line">
                                <span class="sits__indecator">A</span>
                                <span class="sits__indecator">B</span>
                                <span class="sits__indecator">C</span>
                                <span class="sits__indecator">D</span>
                                <span class="sits__indecator">E</span>
                                <span class="sits__indecator">F</span>
                                <span class="sits__indecator">G</span>
                                <span class="sits__indecator">I</span>
                                <span class="sits__indecator additional-margin">J</span>
                                <span class="sits__indecator">K</span>
                                <span class="sits__indecator">L</span>
                            </aside>

                         
                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A2' data-price='@Model.Prices[0].Money'>A2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A3' data-price='@Model.Prices[0].Money'>A3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A4' data-price='@Model.Prices[0].Money'>A4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A5' data-price='@Model.Prices[0].Money'>A5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A6' data-price='@Model.Prices[0].Money'>A6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A7' data-price='@Model.Prices[0].Money'>A7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A8' data-price='@Model.Prices[0].Money'>A8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A9' data-price='@Model.Prices[0].Money'>A9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A10' data-price='@Model.Prices[0].Money'>A10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A11' data-price='@Model.Prices[0].Money'>A11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A12' data-price='@Model.Prices[0].Money'>A12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A13' data-price='@Model.Prices[0].Money'>A13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A14' data-price='@Model.Prices[0].Money'>A14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A15' data-price='@Model.Prices[0].Money'>A15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A16' data-price='@Model.Prices[0].Money'>A16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='A17' data-price='@Model.Prices[0].Money'>A17</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B1' data-price='@Model.Prices[0].Money'>B1</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B2' data-price='@Model.Prices[0].Money'>B2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B3' data-price='@Model.Prices[0].Money'>B3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B4' data-price='@Model.Prices[0].Money'>B4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B5' data-price='@Model.Prices[0].Money'>B5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B6' data-price='@Model.Prices[0].Money'>B6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B7' data-price='@Model.Prices[0].Money'>B7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff sits-state--not" data-tariff="@Model.Prices[0].Tariff" data-place='B8' data-price='@Model.Prices[0].Money'>B8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff sits-state--not" data-tariff="@Model.Prices[0].Tariff" data-place='B9' data-price='@Model.Prices[0].Money'>B9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B10' data-price='@Model.Prices[0].Money'>B10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B11' data-price='@Model.Prices[0].Money'>B11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B12' data-price='@Model.Prices[0].Money'>B12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B13' data-price='@Model.Prices[0].Money'>B13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B14' data-price='@Model.Prices[0].Money'>B14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B15' data-price='@Model.Prices[0].Money'>B15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B16' data-price='@Model.Prices[0].Money'>B16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B17' data-price='@Model.Prices[0].Money'>B17</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='B18' data-price='@Model.Prices[0].Money'>B18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C1' data-price='@Model.Prices[0].Money'>C1</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C2' data-price='@Model.Prices[0].Money'>C2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C3' data-price='@Model.Prices[0].Money'>C3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C4' data-price='@Model.Prices[0].Money'>C4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C5' data-price='@Model.Prices[0].Money'>C5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C6' data-price='@Model.Prices[0].Money'>C6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C7' data-price='@Model.Prices[0].Money'>C7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C8' data-price='@Model.Prices[0].Money'>C8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C9' data-price='@Model.Prices[0].Money'>C9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C10' data-price='@Model.Prices[0].Money'>C10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C11' data-price='@Model.Prices[0].Money'>C11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C12' data-price='@Model.Prices[0].Money'>C12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C13' data-price='@Model.Prices[0].Money'>C13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C14' data-price='@Model.Prices[0].Money'>C14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C15' data-price='@Model.Prices[0].Money'>C15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C16' data-price='@Model.Prices[0].Money'>C16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C17' data-price='@Model.Prices[0].Money'>C17</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='C18' data-price='@Model.Prices[0].Money'>C18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D1' data-price='@Model.Prices[0].Money'>D1</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D2' data-price='@Model.Prices[0].Money'>D2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D3' data-price='@Model.Prices[0].Money'>D3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D4' data-price='@Model.Prices[0].Money'>D4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D5' data-price='@Model.Prices[0].Money'>D5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D6' data-price='@Model.Prices[0].Money'>D6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D7' data-price='@Model.Prices[0].Money'>D7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D8' data-price='@Model.Prices[0].Money'>D8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D9' data-price='@Model.Prices[0].Money'>D9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D10' data-price='@Model.Prices[0].Money'>D10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D11' data-price='@Model.Prices[0].Money'>D11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D12' data-price='@Model.Prices[0].Money'>D12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D13' data-price='@Model.Prices[0].Money'>D13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D14' data-price='@Model.Prices[0].Money'>D14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D15' data-price='@Model.Prices[0].Money'>D15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D16' data-price='@Model.Prices[0].Money'>D16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D17' data-price='@Model.Prices[0].Money'>D17</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='D18' data-price='@Model.Prices[0].Money'>D18</span>
                            </div>

                            @{ 
                                if(Model.Prices.Count > 1)
                                {
                                    Model.Prices[0] = Model.Prices[1];                                   
                                }
                            }

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E1' data-price='@Model.Prices[0].Money'>E1</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E2' data-price='@Model.Prices[0].Money'>E2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E3' data-price='@Model.Prices[0].Money'>E3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E4' data-price='@Model.Prices[0].Money'>E4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E5' data-price='@Model.Prices[0].Money'>E5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E6' data-price='@Model.Prices[0].Money'>E6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E7' data-price='@Model.Prices[0].Money'>E7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E8' data-price='@Model.Prices[0].Money'>E8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E9' data-price='@Model.Prices[0].Money'>E9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E10' data-price='@Model.Prices[0].Money'>E10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E11' data-price='@Model.Prices[0].Money'>E11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E12' data-price='@Model.Prices[0].Money'>E12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E13' data-price='@Model.Prices[0].Money'>E13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E14' data-price='@Model.Prices[0].Money'>E14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E15' data-price='@Model.Prices[0].Money'>E15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E16' data-price='@Model.Prices[0].Money'>E16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E17' data-price='@Model.Prices[0].Money'>E17</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='E18' data-price='@Model.Prices[0].Money'>E18</span>
                            </div>
                            
                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F1' data-price='@Model.Prices[0].Money'>F1</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F2' data-price='@Model.Prices[0].Money'>F2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F3' data-price='@Model.Prices[0].Money'>F3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F4' data-price='@Model.Prices[0].Money'>F4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F5' data-price='@Model.Prices[0].Money'>F5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F6' data-price='@Model.Prices[0].Money'>F6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F7' data-price='@Model.Prices[0].Money'>F7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F8' data-price='@Model.Prices[0].Money'>F8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F9' data-price='@Model.Prices[0].Money'>F9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F10' data-price='@Model.Prices[0].Money'>F10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F11' data-price='@Model.Prices[0].Money'>F11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F12' data-price='@Model.Prices[0].Money'>F12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F13' data-price='@Model.Prices[0].Money'>F13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F14' data-price='@Model.Prices[0].Money'>F14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F15' data-price='@Model.Prices[0].Money'>F15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F16' data-price='@Model.Prices[0].Money'>F16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F17' data-price='@Model.Prices[0].Money'>F17</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='F18' data-price='@Model.Prices[0].Money'>F18</span>
                            </div>

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G1' data-price='@Model.Prices[0].Money'>G1</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G2' data-price='@Model.Prices[0].Money'>G2</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G3' data-price='@Model.Prices[0].Money'>G3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G4' data-price='@Model.Prices[0].Money'>G4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G5' data-price='@Model.Prices[0].Money'>G5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G6' data-price='@Model.Prices[0].Money'>G6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G7' data-price='@Model.Prices[0].Money'>G7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G8' data-price='@Model.Prices[0].Money'>G8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G9' data-price='@Model.Prices[0].Money'>G9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G10' data-price='@Model.Prices[0].Money'>G10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G11' data-price='@Model.Prices[0].Money'>G11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G12' data-price='@Model.Prices[0].Money'>G12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G13' data-price='@Model.Prices[0].Money'>G13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G14' data-price='@Model.Prices[0].Money'>G14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G15' data-price='@Model.Prices[0].Money'>G15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G16' data-price='@Model.Prices[0].Money'>G16</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G17' data-price='@Model.Prices[0].Money'>G17</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='G18' data-price='@Model.Prices[0].Money'>G18</span>
                            </div>

                            @{
                                if (Model.Prices.Count > 2)
                                {
                                    Model.Prices[0] = Model.Prices[2];
                                }
                            }

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I3' data-price='@Model.Prices[0].Money'>I3</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I4' data-price='@Model.Prices[0].Money'>I4</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I5' data-price='@Model.Prices[0].Money'>I5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I6' data-price='@Model.Prices[0].Money'>I6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I7' data-price='@Model.Prices[0].Money'>I7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I8' data-price='@Model.Prices[0].Money'>I8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I9' data-price='@Model.Prices[0].Money'>I9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I10' data-price='@Model.Prices[0].Money'>I10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I11' data-price='@Model.Prices[0].Money'>I11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I12' data-price='@Model.Prices[0].Money'>I12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I13' data-price='@Model.Prices[0].Money'>I13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I14' data-price='@Model.Prices[0].Money'>I14</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I15' data-price='@Model.Prices[0].Money'>I15</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='I16' data-price='@Model.Prices[0].Money'>I16</span>
                            </div>

                            <div class="sits__row additional-margin">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J5' data-price='@Model.Prices[0].Money'>J5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J6' data-price='@Model.Prices[0].Money'>J6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J7' data-price='@Model.Prices[0].Money'>J7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J8' data-price='@Model.Prices[0].Money'>J8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J9' data-price='@Model.Prices[0].Money'>J9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J10' data-price='@Model.Prices[0].Money'>J10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J11' data-price='@Model.Prices[0].Money'>J11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J12' data-price='@Model.Prices[0].Money'>J12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J13' data-price='@Model.Prices[0].Money'>J13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='J14' data-price='@Model.Prices[0].Money'>J14</span>
                            </div>
                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K5' data-price='@Model.Prices[0].Money'>K5</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K6' data-price='@Model.Prices[0].Money'>K6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K7' data-price='@Model.Prices[0].Money'>K7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K8' data-price='@Model.Prices[0].Money'>K8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K9' data-price='@Model.Prices[0].Money'>K9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K10' data-price='@Model.Prices[0].Money'>K10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K11' data-price='@Model.Prices[0].Money'>K11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K12' data-price='@Model.Prices[0].Money'>K12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K13' data-price='@Model.Prices[0].Money'>K13</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='K14' data-price='@Model.Prices[0].Money'>K14</span>
                            </div>

                            @{
                                if (Model.Prices.Count > 3)
                                {
                                    Model.Prices[0] = Model.Prices[3];
                                }
                            }

                            <div class="sits__row">
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L6' data-price='@Model.Prices[0].Money'>L6</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L7' data-price='@Model.Prices[0].Money'>L7</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L8' data-price='@Model.Prices[0].Money'>L8</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L9' data-price='@Model.Prices[0].Money'>L9</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L10' data-price='@Model.Prices[0].Money'>L10</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L11' data-price='@Model.Prices[0].Money'>L11</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L12' data-price='@Model.Prices[0].Money'>L12</span>
                                <span class="sits__place sits-price--@Model.Prices[0].Tariff" data-tariff="@Model.Prices[0].Tariff" data-place='L13' data-price='@Model.Prices[0].Money'>L13</span>
                            </div>


                            <aside class="sits__checked">
                                <div class="checked-place" id="jay_seats">

                                </div>
                                <div class="checked-result">
                                    0 UAH
                                </div>
                            </aside>
                            <footer class="sits__number">
                                <span class="sits__indecator">1</span>
                                <span class="sits__indecator">2</span>
                                <span class="sits__indecator">3</span>
                                <span class="sits__indecator">4</span>
                                <span class="sits__indecator">5</span>
                                <span class="sits__indecator">6</span>
                                <span class="sits__indecator">7</span>
                                <span class="sits__indecator">8</span>
                                <span class="sits__indecator">9</span>
                                <span class="sits__indecator">10</span>
                                <span class="sits__indecator">11</span>
                                <span class="sits__indecator">12</span>
                                <span class="sits__indecator">13</span>
                                <span class="sits__indecator">14</span>
                                <span class="sits__indecator">15</span>
                                <span class="sits__indecator">16</span>
                                <span class="sits__indecator">17</span>
                                <span class="sits__indecator">18</span>
                            </footer>
                        </div>
                    </div>
                </div>

            <div class="seance_info" 
                 data-movieName="@Model.MovieBookModel.Title" 
                 data-movieId="@Model.MovieBookModel.Id" 
                 data-movieUrl="@Model.MovieBookModel.PosterUrl"
                 data-hall="@Model.HallName"
                 data-cinema="@Model.TheaterBookModel.Name"
                 data-cinemaAdress="@Model.TheaterBookModel.Address"
                 data-technology="@Model.Technology"
                 data-seanceDate="@Model.DateSeance.ToShortDateString()"
                 data-seanceTime="@Model.TimeSeanceModel.TimeBegin.ToShortTimeString()"
                 data-cinemaId ="@Model.TheaterBookModel.Id"
                 data-timeSeanceId="@Model.TimeSeanceModel.Id"
                 
            ></div>
                
            </div>
        </section>
    </div>
        
    <div class="clearfix"></div>
    <form id='film-and-time' class="booking-form" method='get' action='book3-buy.html'>
        <input type='text' name='choosen-number' class="choosen-number">
        <input type='text' name='choosen-number--chea-p' class="choosen-number--chea-p">
        <input type='text' name='choosen-number--middle' class="choosen-number--middle">
        <input type='text' name='choosen-number--expansive' class="choosen-number--expansive">
        <input type='text' name='choosen-cost' class="choosen-cost">
        <input type='text' name='choosen-sits' class="choosen-sits">

        <div class="booking-pagination booking-pagination--margin">
            <a href='@Url.Action("MoviePage", "Movie", new { id = Model.MovieBookModel.Id })' class="booking-pagination__prev">
                <span class="arrow__text arrow--prev">Вернуться обратно</span>
                <span class="arrow__info">Выбрать другой сеанс</span>
            </a>
            <a href='@Url.Action("Purchase", "Book")' class="booking-pagination__next">
                <span class="arrow__text arrow--next">Следующий шаг</span>
                <span class="arrow__info">Оформить покупку</span>
            </a>
        </div>
    </form>

</div>


<script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        var placeArray = new Array();


        $(".header-wrapper").css("position", "relative");
        init_BookingJay();
        function init_BookingJay() {
            "use strict";

            //1. Buttons for choose order method
            //order factor
            $('.order__control-btn').click(function (e) {
                e.preventDefault();

                $('.order__control-btn').removeClass('active');
                $(this).addClass('active');
            })

            //2. Init vars for order data
            // var for booking;
            var numberTicket = $('.choosen-number'),
                sumTicket = $('.choosen-cost'),
                cheapTicket = $('.choosen-number--cheap'),
                middleTicket = $('.choosen-number--middle'),
                expansiveTicket = $('.choosen-number--expansive'),
                vipTicket = $('.choosen-number--vip'),
                sits = $('.choosen-sits');

            //3. Choose sits (and count price for them)
            //users choose sits

            //data elements init
            var sum = 0;
            var cheap = 0;
            var middle = 0;
            var expansive = 0;
            var vip = 0;

            $('.sits__place').click(function (e) {
                e.preventDefault();
                var place = $(this).attr('data-place');
                var ticketPrice = $(this).attr('data-price');

                var ticketTariff = $(this).attr('data-tariff');

                var ticketPriceNum = Number(ticketPrice);


                if (!$(e.target).hasClass('sits-state--your')) {

                    if (!$(this).hasClass('sits-state--not')) {
                        $(this).addClass('sits-state--your');

                        $('.checked-place').prepend('<span class="choosen-place ' + place + '" data-vale="' + place + '">' + place + '</span>');

                        switch (ticketTariff) {
                            case 'cheap':
                                sum += ticketPriceNum;
                                cheap += 1;
                                break;
                            case 'middle':
                                sum += ticketPriceNum;
                                middle += 1;
                                break;
                            case 'expensive':
                                sum += ticketPriceNum;
                                expansive += 1;
                                break;

                            case 'vip':
                                sum += ticketPriceNum;
                                vip += 1;
                                break;
                        }

                        placeArray.push(place);
                        $('.checked-result').text(sum + "UAH")
                    }
                }

                else {
                    $(this).removeClass('sits-state--your');

                    $('.' + place + '').remove();

                    switch (ticketTariff) {
                        case 'cheap':
                            sum -= ticketPriceNum;
                            cheap -= 1;
                            break;
                        case 'middle':
                            sum -= ticketPriceNum;
                            middle -= 1;
                            break;
                        case 'expensive':
                            sum -= ticketPriceNum;
                            expansive -= 1;
                            break;

                        case 'vip':
                            sum -= ticketPriceNum;
                            vip -= 1;
                            break;
                    }

                    placeArray.splice(placeArray.indexOf(place), 1);
                    $('.checked-result').text(sum + "UAH")
                }

                //data element init
                var number = $('.checked-place').children().length;

                //data element set
                numberTicket.val(number);
                sumTicket.val(sum);
                cheapTicket.val(cheap);
                middleTicket.val(middle);
                expansiveTicket.val(expansive);
                vipTicket.val(vip);

                //data element init
                var chooseSits = '';
                $('.choosen-place').each(function () {
                    chooseSits += ', ' + $(this).text();
                });

                //data element set
                sits.val(chooseSits.substr(2));
            });

            //--- Step for data  ---//
            //Get data from pvevius page
            var url = decodeURIComponent(document.URL);
            var prevDate = url.substr(url.indexOf('?') + 1);

            //Serialize, add new data and send to next page
            $('.booking-form').submit(function (e) {
                e.preventDefault();
                var bookData = $(this).serialize();

                var fullData = prevDate + '&' + bookData
                var action,
                    control = $('.order__control-btn.active').text();

                if (control == "Purchase") { action = 'book3-buy.html'; }
                else if (control == "Reserve") { action = 'book3-reserve.html'; }


                $.get(action, fullData, function (data) { });
            });

            $('.top-scroll').parent().find('.top-scroll').remove();



            $(".booking-pagination__next").click(function () {

                var tickets = new Array();
                placeArray.forEach(function (elem) {
                    var ticket = {
                        place: elem,
                        price: $('[data-place=' + elem + ']').attr("data-price"),
                        timeSeanceID: $('.seance_info').attr('data-timeSeanceId')
                    }
                    tickets.push(ticket);
                });

                var movieBookModel = {
                    title: $('.seance_info').attr('data-movieName'),
                    id: $('.seance_info').attr('data-movieId'),
                    posterUrl: $('.seance_info').attr('data-movieUrl')
                }

                var theaterBookModel = {
                    name: $('.seance_info').attr('data-cinema'),
                    address: $('.seance_info').attr('data-cinemaAdress'),
                    id: $('.seance_info').attr('data-cinemaId')
                }

                var indexLast = Number($('.seance_info').attr('data-lastElementId')) + 1;


                var purchase = {
                    id: indexLast,
                    tickets: tickets,
                    movieBookModel: movieBookModel,
                    hall: $('.seance_info').attr('data-hall'),
                    theaterBookModel: theaterBookModel,
                    tecnology: $('.seance_info').attr('data-technology'),
                    seanceDate: $('.seance_info').attr('data-seanceDate'),
                    seanceTime: $('.seance_info').attr('data-seanceTime'),
                };

                console.log(purchase);

                @*$.ajax({
                    url: '@Url.Action("SaveInDb", "Book")',
                    method: "POST",
                    data: JSON.stringify(purchase),
                    contentType: "application/json; charset=utf-8",
                    success: function (data, textStatus, jqXHR) {
                        console.log("data: " + data);
                        console.log("textStatus: " + textStatus);
                        console.log("jqXHR: " + jqXHR.responseText);
                        },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("jqXHR: " + jqXHR.responseText);
                        console.log("textStatus: " + textStatus);
                        console.log("errorThrown: " + errorThrown);
                    }
                });*@
            });

            setTimeout(function () {
                var url = '@Url.Action("NextStep", "Ticket", new { purchaseId = "_purchase_" })';
                window.location.href = url.replace("_purchase_", purchase.id);
            }, 1000);
        }

    });
</script>

@*<script type="text/javascript">
    $(document).ready(function() {
        init_BookingTwo();
    });
</script>*@

